spring:
  datasource:
    url: jdbc:mysql://thinc.cxshbgoxbnwp.ap-northeast-2.rds.amazonaws.com/thinc
    username: admin
#    url: jdbc:mysql://localhost:3306/thinc
#    username: root
    password: 1q2w3e4r
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
